In [16]:
import numpy as np
import pandas as pd
import requests
import re

In [17]:
!pip install bs4

Requirement already satisfied: bs4 in c:\python312\lib\site-packages (0.0.2)

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: beautifulsoup4 in c:\python312\lib\site-packages (from bs4) (4.12.3)
Requirement already satisfied: soupsieve>1.2 in c:\python312\lib\site-packages (from beautifulsoup4->bs4) (2.5)

In [18]:
from bs4 import BeautifulSoup

In [19]:
url2='https://talentedge.com/golden-gate-university/doctor-of-business-administration'

In [20]:
page1=requests.get(url2)
htmlcontent=page1.content

In [21]:
soup2=BeautifulSoup(htmlcontent,'html.parser')

In [22]:
title=soup2.find('title')
title=title.text

In [23]:
p_tags = soup2.find('div', class_='pl-aboutus').find_all('p')

# Print the text of each p tag after removing any a tags
for p in p_tags:
    for a in p.find_all('a'):
        a.decompose()
    About = p.text.strip()
    print(About)

Go beyond the boundaries of your job, without quitting it. Be a sought after specialist with the same doctorate degree awarded on campus. Earn the ‘Dr’ title after successfully completing the program. The Doctor of Business Administration (DBA) program is designed for professionals who want to further their career with the most advanced business degree program GGU offers. The DBA program addresses the learning needs and objectives of senior business managers, consultants and university professors. Its primary objective is to produce graduates who can contribute to the advancement of their professions and to the expansion of knowledge and awareness of contemporary strategic issues and practices.
Our curriculum has a three-tiered focus. Students examine current theories, practices, and issues in business; train in research methods; and study the relationships between business and social and global issues. We believe doctoral students must be adept in all these areas to be successful contributors to the expansion of knowledge and improvement of business practices. For the dissertation, students conduct original research on a topic of current importance and personal interest. The dissertation should impact and help illuminate the strategic issues they face in their professions.
The program encourages students to accept the added responsibility of a shared commitment to the advancement of their professions and to upholding the highest ethical standards in the private or public sector.
Go beyond the boundaries of your job, without quitting it. Be a sought after specialist with the same doctorate degree awarded on campus. Earn the ‘Dr’ title after successfully completing the program. The Doctor of Business Administration (DBA) program is designed for professionals who want to further their career with the most advanced business degree progr

In [24]:
duration = soup2.find('p', text=lambda t: t and 'Duration:' in t).text.strip()
duration = duration.replace('Duration: ', '')

# Find the start date
start_date = soup2.find('p', text=lambda t: t and 'Feb' in t).text.strip()

print(f"Duration: {duration}")
print(f"Start Date: {start_date}")

Duration: 36 Months
Start Date: 15 Feb, 2024

In [25]:
# Find the foundation, concentration, and final dissertation tabs
foundation_tab = soup2.find('a', href="#syl-tab1").text.strip()
concentration_tab = soup2.find('a', href="#syl-tab2").text.strip()
final_dissertation_tab = soup2.find('a', href="#syl-tab3").text.strip()

# Store the syllabus items into a list
syllabus = [foundation_tab, concentration_tab, final_dissertation_tab]

print(syllabus)

['Foundation (12 Credits)', 'Concentration (12 Credits)', 'Final dissertation (32 Credits)']

In [26]:
ul_tag = soup2.find('div', class_='key-skills-sec').find('ul')

# Extract all li tags from the ul tag
key_skills = [li.text.strip() for li in ul_tag.find_all('li')]

print(key_skills)

['Applied Research', 'Concept Selection', 'Management Issues Redressal', 'Critical Decision-Making', 'Critical Thinking']

In [27]:
eligibility_criteria = soup2.find('div', class_='eligible-right-top-list').find('p').text.strip()

print(eligibility_criteria)

Master's Degree (or equivalent) or Bachelors Degree with 5+ years of work experience.

In [28]:
price_div = soup2.find(class_='program-details-total-pay-amt-right')

# Extract the text content of the div
price_text = price_div.get_text(strip=True)

# Use regular expressions to extract the number
INR = re.search(r'\d+', price_text).group()

print(INR)

1226438

In [29]:
faculty_names = [h4.text.strip() for h4 in soup2.find_all('h4', class_='best-fname')]

# Store the faculty names into a list
faculty = faculty_names

print(faculty)

['Dr. Mick Mcgee', 'Dr. Judith Lee', 'Dr. Joaquin "Jay" Gonzalez', 'Dr. Anita Manohar', 'Prof. Marcia Ruben', 'Prof. Anthony De Leon', 'Prof. Geoffrey Ngene', 'Prof. Saida Zeidan', 'Prof. Tommy Moreno', 'Prof. Marion Moreno']

In [31]:
data = {
    "Title": [title],
    "Paragraph": [para],
    "Duration": [duration],
    "Start Date": [start_date],
    "Syllabus": [syllabus],
    "Key_skills": [key_skills],
    "eligibility_criteria": [eligibility_criteria],
    "INR": [INR],
    "Faculty": [faculty]
}

# Convert the dictionary to a DataFrame
df1 = pd.DataFrame(data)

# Print the DataFrame
df1.head()

,Title,Paragraph,Duration,Start Date,Syllabus,Key_skills,eligibility_criteria,INR,Faculty
0,Doctor of business administration - TalentEdge,"Go beyond the boundaries of your job, without ...",36 Months,"15 Feb, 2024","[Foundation (12 Credits), Concentration (12 Cr...","[Applied Research, Concept Selection, Manageme...",Master's Degree (or equivalent) or Bachelors D...,1226438,"[Dr. Mick Mcgee, Dr. Judith Lee, Dr. Joaquin ""..."

### Some URls To scrape

In [ ]:
https://talentedge.com/iim-kozhikode/professional-certificate-programme-in-hr-management-and-analytics
https://talentedge.com/ecornell/certificate-course-data-analytics-360
https://talentedge.com/ecornell/certificate-course-executive-leadership
https://talentedge.com/ecornell/certificate-course-digital-transformation
https://talentedge.com/ecornell/certificate-course-human-resources-management
https://talentedge.com/ecornell/certificate-course-technology-leadership
https://talentedge.com/opjindal-global-business-school/masters-of-business-administration-opj-global-universityhttps://talentedge.com/esgci-school-of-management-paris/doctorate-of-business-administration-esgci
https://talentedge.com/iim-kozhikode/professional-certificate-programme-in-hr-management-and-analytics

In [33]:
url3='https://talentedge.com/iim-kozhikode/professional-certificate-programme-in-hr-management-and-analytics'

In [35]:
page3=requests.get(url3)
htmlcontent=page3.content

In [37]:
soup3=BeautifulSoup(htmlcontent,'html.parser')

In [62]:
title=soup3.find('title')
title3=title.text

In [61]:
p_tags = soup2.find('div', class_='pl-aboutus').find_all('p')

# Print the text of each p tag after removing any a tags
for p in p_tags:
    for a in p.find_all('a'):
        a.decompose()
    About3 = p.text.strip()

In [60]:
duration3 = soup3.find('p', text=lambda t: t and 'Duration:' in t).text.strip()
duration3 = duration.replace('Duration: ', '')

# Find the start date
start_date3 = soup3.find('p', text=lambda t: t and 'Feb' in t).text.strip()

print(f"Duration: {duration3}")
print(f"Start Date: {start_date3}")

Duration: 5 Months
Start Date: 15 Feb, 2024

In [52]:
# Find the foundation, concentration, and final dissertation tabs
foundation_tab = soup3.find('a', href="#syl-tab1").text.strip()
concentration_tab = soup3.find('a', href="#syl-tab2").text.strip()
final_dissertation_tab = soup3.find('a', href="#syl-tab3").text.strip()

# Store the syllabus items into a list
syllabus3 = [foundation_tab, concentration_tab, final_dissertation_tab]

print(syllabus3)

['Introduction to HR Analytics', 'HR Practices and Benchmarking', 'Workforce Planning and Talent Sourcing Analytics']

In [53]:
elements = soup3.find_all(class_='key-skills-sec')

# Print the elements
keyskills3 = []
for element in elements:
    li_elements = element.find_all('li')
    for li in li_elements:
        keyskills3.append(li.text.strip())

In [55]:
eligibility_criteria3 = soup3.find('div', class_='eligible-div eligible-div-new-design').find('p').text.strip()

print(eligibility_criteria3)

- Minimum 2 years work experience if you have a Bachelor's Degree
- Freshers can apply if you have a Master’s Degree.

In [65]:
price_div = soup3.find(class_='program-details-total-pay-amt-right')

# Extract the text content of the div
price_text = price_div.get_text(strip=True)

# Use regular expressions to extract the number
INR3 = re.search(r'\d+', price_text).group()

print(INR3)

105932

In [67]:
faculty_names = [h4.text.strip() for h4 in soup3.find_all('h4', class_='best-fname')]

# Store the faculty names into a list
faculty3 = faculty_names

print(faculty3)

['Prof T.N. Krishnan', 'Prof. Kapil Verma', 'Prof. Prantika Ray']

In [68]:
data = {
    "Title": [title3],
    "Paragraph": [About3],
    "Duration": [duration3],
    "Start Date": [start_date3],
    "Syllabus": [syllabus3],
    "Key_skills": [keyskills3],
    "eligibility_criteria": [eligibility_criteria3],
    "INR": [INR3],
    "Faculty": [faculty3]
}

# Convert the dictionary to a DataFrame
df2 = pd.DataFrame(data)

# Print the DataFrame
df2.head()

,Title,Paragraph,Duration,Start Date,Syllabus,Key_skills,eligibility_criteria,INR,Faculty
0,Professional certificate programme in hr manag...,"Go beyond the boundaries of your job, without ...",5 Months,"15 Feb, 2024","[Introduction to HR Analytics, HR Practices an...","[Talent sourcing, Employee retention,, Workfor...",- Minimum 2 years work experience if you have ...,105932,"[Prof T.N. Krishnan, Prof. Kapil Verma, Prof. ..."

In [74]:
url4='https://talentedge.com/ecornell/certificate-course-data-analytics-360'
page4=requests.get(url4)
htmlcontent4=page4.content
soup4=BeautifulSoup(htmlcontent4,'html.parser')

In [78]:
title4=soup4.find('title')
title4=title.text
title4

'Data Analytics Course Online by eCornell- Talentedge'

In [86]:
div = soup4.select_one('.el-lap-section2-inner.el-ln-p')

# Find all p tags within the div
p_tags = div.find_all('p')
About4=[]
# Extract and print the text of each p tag
for p in p_tags:
    About4.append(p.text.strip())

In [96]:
span_element = soup4.find('span', class_='monthsOfCourse')
duration4 = span_element.text.strip()

# Find the p element
p_element = soup4.find('p')
weeks = p_element.text.strip()

print(f"Duration: {duration4} {weeks}")

Duration: 19 Outcome based education for the Modern World!

In [101]:
repeater_elements = soup4.find_all(class_='el-lap-section4-repeater')

# Extract the text content of each 'accordionButton' within these elements
syllabus4 = [element.find('div', class_='accordionButton').text.strip() for element in repeater_elements]

print(syllabus4)

['Understanding and Visualizing Data', 'Implementing Scientific Decision Making', 'Using Predictive Data Analysis', 'Modeling Uncertainty and Risk', 'Optimization and Modeling Simultaneous Decisions', 'Application Process', 'Cancellation Policy']

In [104]:
ul_tag = soup4.find('ul', style="list-style-type: disc;")

# Extract all the li tags within the ul tag
li_tags = ul_tag.find_all('li')
eligibility_criteria4=[]
# Print the text of each li tag
for li in li_tags:
    eligibility_criteria4.append(li.text.strip())

In [128]:
INR4='INR 200000'
keyskills4 = 0
start_date4='13 mar, 2024'

In [112]:
faculty_names = [h4.text.strip() for h4 in soup4.find_all('h4', class_='el-fec-right')]

# Store the faculty names into a list
faculty4 = faculty_names

print(faculty4)

[]

In [123]:
faculty4=soup4.find(class_='el-fec-right').find('h4').text.strip()

In [129]:
data = {
    "Title": [title4],
    "Paragraph": [About4],
    "Duration": [duration4],
    "Start Date": [start_date4],
    "Syllabus": [syllabus4],
    "Key_skills": [keyskills4],
    "eligibility_criteria": [eligibility_criteria4],
    "INR": [INR4],
    "Faculty": [faculty4]
}

# Convert the dictionary to a DataFrame
df3 = pd.DataFrame(data)

# Print the DataFrame
df3.head()

,Title,Paragraph,Duration,Start Date,Syllabus,Key_skills,eligibility_criteria,INR,Faculty
0,Data Analytics Course Online by eCornell- Tale...,[Talentedge is proud to offer Data Analytics 3...,19,"13 mar, 2024","[Understanding and Visualizing Data, Implement...",0,[Certificate of Completion in Data Analytics 3...,INR 200000,Chris Anderson

### final dataframe of three urls

In [132]:
concatenated_df = pd.concat([df1, df2, df3], ignore_index=True)
concatenated_df.head()

,Title,Paragraph,Duration,Start Date,Syllabus,Key_skills,eligibility_criteria,INR,Faculty
0,Doctor of business administration - TalentEdge,"Go beyond the boundaries of your job, without ...",36 Months,"15 Feb, 2024","[Foundation (12 Credits), Concentration (12 Cr...","[Applied Research, Concept Selection, Manageme...",Master's Degree (or equivalent) or Bachelors D...,1226438,"[Dr. Mick Mcgee, Dr. Judith Lee, Dr. Joaquin ""..."
1,Professional certificate programme in hr manag...,"Go beyond the boundaries of your job, without ...",5 Months,"15 Feb, 2024","[Introduction to HR Analytics, HR Practices an...","[Talent sourcing, Employee retention,, Workfor...",- Minimum 2 years work experience if you have ...,105932,"[Prof T.N. Krishnan, Prof. Kapil Verma, Prof. ..."
2,Data Analytics Course Online by eCornell- Tale...,[Talentedge is proud to offer Data Analytics 3...,19,"13 mar, 2024","[Understanding and Visualizing Data, Implement...",0,[Certificate of Completion in Data Analytics 3...,INR 200000,Chris Anderson